* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

#todo__form {
  width: 20rem;
  display: flex;
}

#todo__input {
  padding: 0.5rem;
  width: 80%;
}

#todo__input:focus {
  outline: none;
}
button[name="submit"] {
  margin-left: 0.2rem;
  background-color: teal;
  color: #fff;
  border: none;
  flex-grow: 1;
}

#todo__list {
  margin-top: 1.5rem;
}

.todo__item {
  padding: 1rem 0.5rem;
  width: 50rem;
  display: flex;
  border: 1px solid #ececec;
}

.todo__item:not(:last-of-type) {
  margin-bottom: 1rem;
}

.todo__item span {
  flex: 1;
}

.remove__button,
.check__button {
  padding: 0.5rem;
  margin: 0 0.5rem;
  background-color: orangered;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.remove__button:hover {
  opacity: 1;
}

.check {
  text-decoration-line: line-through;
}
